In [1]:
# Import Library
import pandas as pd

In [41]:
df=pd.read_csv('../datasets/poker_states_j.csv')

In [43]:
df.shape

(83630, 10)

In [45]:
print(df.isnull().sum())

config_id                  0
round                      0
acting_player              0
action                     0
action_amount              0
hole_cards                 0
community_cards        64994
pot                        0
stacks                     0
actions_this_street     9082
dtype: int64

In [53]:
df.columns

Index(['config_id', 'round', 'acting_player', 'action', 'action_amount',
       'hole_cards', 'community_cards', 'pot', 'stacks',
       'actions_this_street'],
      dtype='object')

In [47]:
df.head()

,config_id,round,acting_player,action,action_amount,hole_cards,community_cards,pot,stacks,actions_this_street
0,0,preflop,geqao,call,200,"ST,S4",NaN,300,5000;4900;4800;5000,smmpihzszsesmpxjefwcwu:SMALLBLIND:100;eavjfjqe...
1,0,preflop,ufrlx,fold,0,"C2,D5",NaN,500,5000;4900;4800;4800,smmpihzszsesmpxjefwcwu:SMALLBLIND:100;eavjfjqe...
2,0,preflop,smmpi,call,200,"HA,D7",NaN,500,5000;4900;4800;4800,smmpihzszsesmpxjefwcwu:SMALLBLIND:100;eavjfjqe...
3,0,preflop,eavjf,call,200,"C8,D8",NaN,600,5000;4800;4800;4800,smmpihzszsesmpxjefwcwu:SMALLBLIND:100;eavjfjqe...
4,0,flop,smmpi,raise,2128,"HA,D7","H4,H3,HQ",600,5000;4800;4800;4800,NaN

In [49]:
df[df['actions_this_street'].isnull()]

,config_id,round,acting_player,action,action_amount,hole_cards,community_cards,pot,stacks,actions_this_street
4,0,flop,smmpi,raise,2128,"HA,D7","H4,H3,HQ",600,5000;4800;4800;4800,NaN
8,0,turn,smmpi,call,0,"HA,D7","H4,H3,HQ,SA",14880,5000;40;40;40,NaN
11,0,river,smmpi,call,0,"HA,D7","H4,H3,HQ,SA,DJ",14880,5000;40;40;40,NaN
15,0,flop,ufrlx,fold,0,"CJ,S9","CT,CQ,D8",4494,2753;12673;0;0,NaN
31,0,flop,gupqe,fold,0,"S7,DQ","SJ,HK,SK",700,4800;6308;4800;3392,NaN
...,...,...,...,...,...,...,...,...,...,...
83590,3,flop,tgwht,fold,0,"H4,DQ","S8,D7,C2",4000,0;0;513841;282159,NaN
83602,3,flop,abyib,raise,289807,"H8,D2","H3,D6,C2",226472,0;0;115446;458082,NaN
83606,3,flop,tgwht,fold,0,"SQ,H3","ST,H4,S5",197774,0;0;16559;585667,NaN
83614,3,flop,abyib,raise,357088,"S8,HQ","C7,CT,C4",4000,0;0;5168;790832,NaN
83624,3,flop,abyib,fold,0,"S5,D8","DT,D2,DK",4000,0;0;5168;790832,NaN