In [10]:
#!pip install PyPokerEngine

In [12]:
#!pip install treys

In [67]:
# Import Library
import pandas as pd

In [75]:
df=pd.read_csv('../datasets/poker_states.csv')

In [76]:
df.head()

,config_id,round,acting_player,hole_cards,community_cards,pot,stacks,actions_this_street
0,0,preflop,aunochwrgtrmrjjztynenl,"D2,D3",NaN,30,1000;990;980;1000,jqffatfmqhkezwdfldwnwd:SMALLBLIND:10;mnlyzxfpt...
1,0,preflop,yvbnqjvjvwexijxqsjmvcs,"S4,HK",NaN,50,1000;990;980;980,jqffatfmqhkezwdfldwnwd:SMALLBLIND:10;mnlyzxfpt...
2,0,preflop,jqffatfmqhkezwdfldwnwd,"C3,DK",NaN,50,1000;990;980;980,jqffatfmqhkezwdfldwnwd:SMALLBLIND:10;mnlyzxfpt...
3,0,preflop,mnlyzxfptenxzsdvmmdpwg,"CT,HJ",NaN,50,1000;990;980;980,jqffatfmqhkezwdfldwnwd:SMALLBLIND:10;mnlyzxfpt...
4,0,flop,mnlyzxfptenxzsdvmmdpwg,"CT,HJ","D4,SA,H8",50,1000;990;980;980,NaN

In [79]:
df.shape

(1195900, 8)

In [89]:
df.columns

Index(['config_id', 'round', 'acting_player', 'hole_cards', 'community_cards',
       'pot', 'stacks', 'actions_this_street'],
      dtype='object')

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df['actions_this_street']